.THIS .cardcss{
     background-color:#d9edf7;
 }
.THIS .comment{
    background-color:#f5f5f5;
}
.THIS .headercomment{
    background-color:#DEFFEF;
}
.THIS .tagg{
    background-color:#F2FCFF;
    
}